<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

	<!--引入jdbc配置文件-->
	<context:property-placeholder location="classpath:jdbc.properties"/>

	<!--配置数据源-->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="${jdbc.driver}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>

	<!--创建SqlSessionFactory-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!--引入数据源-->
		<property name="dataSource" ref="dataSource"/>
		<!--mybatis全局配置文件位置-->
		<property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
		<!--mapper配置文件位置-->
		<property name="mapperLocations" value="classpath:mybatis/mapper/*.xml"/>
		<!--引入分页插件-->
		<property name="plugins">
			<array>
				<bean class="com.github.pagehelper.PageInterceptor">
					<property name="properties">
						<props>
							<!--开启页码自动修正-->
							<prop key="reasonable">true</prop>
						</props>
					</property>
				</bean>
			</array>
		</property>
	</bean>

	<!--配置MapperScannerConfigurer,将mapper接口类型的代理对象扫描到IOC容器中-->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.ajv.crowd.mapper"/>
	</bean>
</beans>